html, body, .app-content {
  height: 100%;
}

/* Components */
.service-buttons {
  text-align: center;
}

.service-buttons a {
  width: 100%;
}

/* Login page */
.login.container {
  display: table;
  height: 100%;
}

.login .row {
  display: table-cell;
  vertical-align: middle;
}

/* Home page */
.home {
  padding: 20px 0;
}

img.full-size-photo {
  width: 100%;
}

/* Album photos */
.Collage {
  padding:10px;
}

.Collage img{
  vertical-align: bottom;
  opacity: 0;
}

