<script type="text/ng-template" id="photoModal.html">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="closePhoto()">&times;</button>
      <h4 class="modal-title">{{photo.name}}</h4>
    </div>
    <div class="modal-body">
      <img class="center-block full-size-photo" ng-src="{{photo.largeUrl}}">
    </div>
  </div>
</script>

<div class="row">
  <div class="col-md-12">
    <h4>{{service | capitalizeFirst}} album "{{albumInfo.name}}".</h4>
    <a class="pull-right" ng-href="#/home/photos/{{service}}/albums">Back to {{service | capitalizeFirst}} albums.</a>
    <p class="text-muted">Album has {{albumInfo.photoCount}} photos.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <pagination ng-model="currentPage" ng-change="pageChanged()" total-items="albumInfo.photoCount"
                boundary-links="true" items-per-page="photosPerPage" max-size="maxPagesCount"></pagination>
    <gallery pictures="photos" on-picture-click="showPhoto(index)"></gallery>
    <pagination ng-model="currentPage" ng-change="pageChanged()" total-items="albumInfo.photoCount"
                boundary-links="true" items-per-page="photosPerPage" max-size="maxPagesCount"></pagination>
  </div>
</div>
