<div class="row">
  <div class="col-md-6">
    <h4>{{service | capitalizeFirst}} albums: you have {{albums.length}} albums.</h4>
  </div>
  <div class="col-md-6 text-right">
    <h4><selectionstats></selectionstats></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2" ng-repeat="album in albums">
    <a ng-href="#home/photos/{{service}}/albums/{{album.id}}/albumPhotos" class="thumbnail">
      <img selectable ng-src="{{album.thumbnailUrl}}" title="{{album.name}}"
           albumId="{{album.id}}"
           service="{{service}}"
           thumbnailUrl="{{album.thumbnailUrl}}">
    </a>
  </div>
</div>
