<script type="text/ng-template" id="photoModal.html">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="closePhoto()">&times;</button>
      <h4 class="modal-title">{{photo.name}}</h4>
    </div>
    <div class="modal-body photo-nav">
      <img class="center-block full-size-photo" ng-src="{{photo.largeUrl}}">
      <div class="prev" ng-click="showPrevPhoto()"></div>
      <div class="next" ng-click="showNextPhoto()"></div>
    </div>
  </div>
</script>

<div class="row">
  <div class="col-md-6">
    <h4>{{service | capitalizeFirst}} album "{{albumInfo.name}}" ({{albumInfo.photoCount}} photos).</h4>
  </div>
  <div class="col-md-6 text-right">
    <h4><selectionstats></selectionstats></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <a ng-href="#/home/photos/{{service}}/albums">Back to {{service | capitalizeFirst}} albums.</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <pagination ng-model="currentPage" ng-change="pageChanged()" total-items="albumInfo.photoCount"
                boundary-links="true" items-per-page="photosPerPage" max-size="maxPagesCount"></pagination>
    <gallery pictures="photos">
      <img selectable
           albumId="{{albumId}}"
           photoId="{{photo.id}}"
           service="{{service}}"
           ng-src="{{photo.largeUrl}}"
           ng-click="showPhoto(photo.index)"
           ng-repeat="photo in photos">
    </gallery>
    <pagination ng-model="currentPage" ng-change="pageChanged()" total-items="albumInfo.photoCount"
                boundary-links="true" items-per-page="photosPerPage" max-size="maxPagesCount"></pagination>
  </div>
</div>
