<div class="col-md-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title">Add more services:</p>
    </div>
    <div class="panel-body">
      <div class="service-buttons">
        <a ng-click="signInToGoogle()" ng-if="!userInfo.accountsState['google']" class="zocial googleplus">Google</a>
        <a ng-click="signInToOAuthService('flickr')" ng-if="!userInfo.accountsState['flickr']" class="zocial flickr">Flickr</a>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title">Connected services:</p>
    </div>
    <div class="panel-body">
      <div class="service-buttons">
        <a ng-href="#home/photos/google/albums" ng-if="userInfo.accountsState['google']" class="zocial googleplus">Google</a>
        <a ng-href="#home/photos/flickr/albums" ng-if="userInfo.accountsState['flickr']" class="zocial flickr">Flickr</a>
      </div>
    </div>
  </div>
</div>
<div class="col-md-10" app-view-segment="2"></div>