<script type="text/ng-template" id="selectionModal.html">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="close()">&times;</button>
      <h4 class="modal-title">
        Selected : {{selectionStats.albums}} albums and {{selectionStats.photos}} photos
        <div class="btn-group">
          <button class="btn btn-default">Copy</button>
          <button class="btn btn-default">Move</button>
          <button class="btn btn-default">Delete</button>
        </div>
      </h4>
    </div>
    <div class="modal-body">
      <div class="row selected-items">
        <div class="col-md-2" ng-repeat="item in selectedItems">
          <div class="thumbnail">
            <button type="button" class="close" ng-click="removeFromSelection(item)">&times;</button>
            <img ng-src="{{item.thumbnailUrl}}"
                 albumId="{{item.albumId}}"
                 service="{{service}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<div class="container home">

  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Photo manager</a>
      </div>
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{ active : isActiveLocation('/home') }"><a ng-href="#/home">Home</a></li>
          <li ng-class="{ active : isActiveLocation('/account') }"><a ng-href="#/account">My account</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a>
              Hello {{userInfo.name}}!
              <span class="btn-link" ng-if="!userInfo.isAnonymous" ng-click="logout();">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" app-view-segment="1"></div>
</div>
